body {
    margin: 0;
}
.items {
    display: flex;
    justify-content: space-between;
    padding: 0.2%;
}
.listed {
    border: black solid 1px;
}
.cart {
    width: 70%;
    border: black solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 6px;
    background-color: grey;
    
}
header img {
    margin-left: -2px;
}
.cartItems {
    display: flex;
    flex-direction: column;
    height: 100%;
    

    
}
.total-order {
    display: flex;
    justify-content: flex-end;
    
}
.total-order p{
    
   
}
.cartItems p {
    margin: 0;
    /*padding-top: 20px;
    padding-bottom: 20px;
    /*padding-left: 1%;*/
    display: none;
    
}

.order {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 400px;
}

button:nth-child(odd) {
    padding-left: 6.5%; 
    
}
i {
    color: green;
}
.fa-info-circle {
    color: black;
}

/*.contact-info-name {
    display: flex;
}*/
body {
    background-color: #34495e;
}
.cartItems p {
    display: flex;
    justify-content: space-between;
    
}
p {
    color: #ced6e0;
}
.main {
    padding-top: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
}
.modal-content p {
    color: black;
}
/*.contact-info {
    padding-left: 1%;
    height: 100%;
    width: 50%;
}
*/
p {
    padding-left: 4px;
}
.listed img {
    height: 150px;
    width: 200px;
}
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6); 
}

.modal-content {
    background-color: #dcdde1;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
  

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*.cartItems button {
    display: none;
}
/*.cartItems:hover button{
    display: block;
}
*/
.order {
    height: ;
}

.orderBtn {
	box-shadow:inset 0px 0px 10px -5px #caefab;
	background:linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
	background-color:#77d42a;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	cursor:pointer;
	color:#306108;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 11px;
	text-decoration:none;
    text-shadow:0px 1px 0px #aade7c;
    height: 20px;
}
.orderBtn:hover {
	background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
	background-color:#5cb811;
}
.orderBtn:active {
	position:relative;
	top:1px;
}

        