body {
    margin: 0;
}
.items {
    display: flex;
    justify-content: space-between;
    padding: 0.2%;
}
.listed {
    border: black solid 1px;
}
.cart {
    width: 60%;
    border: black solid 1px;
    
}
header img {
    margin-left: -2px;
}
.cartItems {
    display: flex;
    flex-direction: column;
    height: 70%;
    
}
.cartItems p {
    margin: 0;
    padding-left: 1%;
    display: none;
}
.cartItems p:nth-child(odd){
    background: #2c3e50;
}
.order {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

button:nth-child(odd) {
    padding-left: 6.5%; 
    
}
i {
    color: green;
}
.fa-info-circle {
    color: black;
}

.contact-info-name {
    display: flex;
}
body {
    background-color: #34495e;
}
.cartItems p {
    display: flex;
    justify-content: space-between;
    
}
p {
    color: #ced6e0;
}
.main {
    padding-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact-info {
    padding-left: 1%;
    height: 100%;
    width: 50%;
}

p {
    padding-left: 4px;
}
.listed img {
    height: 150px;
    width: 200px;
}