@charset "utf-8";
body {
}
.big-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "l . ad ad"
        "n n n n"
        "a a b c"
        "f f f f";
    text-align: center;
}
.grid-item {
    margin: 5px;
    background-color: gray;
}
.log{
    grid-area: l;
}
.ad {
    grid-area: ad;
}
nav, li{
    grid-area: n;
    height: 40px;
    list-style: none;
    padding-left: 0;
}
footer {
    grid-area: f;
}
.abc {
    display: grid;
}
.a {
    grid-template-areas: "a a b c"
        "a a b c";
    grid-area: a;
}
.b {
    grid-area: b;
}
.c {
    grid-area: c;
}
.a1{
    grid-area: a1;
}
.a2{
    grid-area: a2;
}
.a3{
    grid-area: a3;
}
.b1{
    grid-area: b1;
}
.b2{
    grid-area: b2;
}
.c1{
    grid-area: c1;
}
.c2{
    grid-area: c2;
}
.c3{
    grid-area: c3;
}