<!DOCTYPE html>
<html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Layout 4</title>
      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <section class="top">
            <button>Sign In</button>
            <input placeholder="" type="text">
            <a href="#" >Create an account</a>
            <a href="#" >Contact</a>
        </section>
        <header>
            <section><p>Logo</p></section>
            <section class="name"><p>Name</p></section>
            <section><p>Call<br>1-800</p></section>
       </header>
        <nav>
            <a class="nav-item" href="#">Packages</a>
            <a class="nav-item" href="#">Destinations</a>
            <a class="nav-item" href="#">Flights</a>
            <a class="nav-item" href="#">Accommodations</a>
            <button class="nav-item" >Search</button>
            <input placeholder="" class="nav-item" type="text">
        </nav>
        <section class="main">
            <section class="left">
                <h3>Feature Packages</h3>
                <section class="figs">
                    <figure><figcaption><p>...........<br>...........<br>...........<br>...........<br></p></figcaption><img src="https://via.placeholder.com/70x70" alt=""></figure>
                    <figure><figcaption><p>...........<br>...........<br>...........<br>...........<br></p></figcaption><img src="https://via.placeholder.com/70x70" alt=""></figure>
                    <figure><figcaption><p>...........<br>...........<br>...........<br>...........<br></p></figcaption><img src="https://via.placeholder.com/70x70" alt=""></figure>
                    <figure><figcaption><p>...........<br>...........<br>...........<br>...........<br></p></figcaption><img src="https://via.placeholder.com/70x70" alt=""></figure>
                </section>
            </section>
            <section class="mid">
                <section>
                <h3>Feature Destination</h3>
                <p>...........<br>...........<br>...........<br>...........<br><p>...........<br>...........<br>...........<br>...........<br><p>...........<br>...........<br>...........</p>
                </section>
                <section>
                    <figure><img src="https://via.placeholder.com/300x250" alt=""><figcaption>CAPTION</figcaption></figure>
                    <section>
                        <img src="https://via.placeholder.com/85x85" alt=""><img src="https://via.placeholder.com/85x85" alt=""><img src="https://via.placeholder.com/85x85" alt=""><img src="https://via.placeholder.com/85x85" alt=""><img src="https://via.placeholder.com/85x85" alt=""><img src="https://via.placeholder.com/85x85" alt="">
                    </section>
                </section>
            </section>
            <section class="right">
                <section>
                    <p>Time Zone Map</p>
                    <p>Currency Calculator</p>
                    <p>Weather</p>
                </section>
                <section>AD</section>
                <section>AD</section>
            </section>
        </section>
    </body>
</html>