<!DOCTYPE html>
<html lang="sv-se">
   <head>
       <meta charset="utf-8">
       <title>Smörgåsbordet</title>
       <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
    <header>
     <nav>
        <ul>
         <li class="pro"><a href="#">Intro:HTML&amp;CSS</a></li>
         <li class="pro"><a href="#">Webbkoda</a>
             <ul class="webbkoda">
             <li><a href="#">Evas Frukt</a></li>
             <li><a href="#">Hit och dit</a></li>
         </ul>
         </li>
         <li class="pro"><a href="#">Ett steg i taget</a>
             <ul class="ett-steg-i-taget">
             <li><a href="#">Luffarschack</a></li>
             <li><a href="#">Portfolio</a></li>
             <li><a href="#">Blogg</a></li>
             <li><a href="#">Drop Down</a></li>
             <li><a href="#">Kontaktformulär</a></li>
             </ul>
         </li>
            <li class="pro"><a href="#">Layouts</a>
                 <ul class="layouts">
                 <li><a href="#">Layout 1</a></li>
                 <li><a href="#">Layout 2</a></li>
                 <li><a href="#">Layout 3</a></li>
                 <li><a href="#">Layout 3</a></li>
            </ul>
         </ul>
    </nav>
  </header>
</body>
</html>