body {
    background-color: #d2dae2;
}
.wrapper {
    width: 80%;
    min-height: 600px;

    border: 1px solid #485460;
    margin: auto;
}
nav {
    height: 50px;
    background: red;
}
nav ul {
    display: flex; /* main axis = X */
    flex-flow: row; /* row = x; Column = y*/
    height: 100%;
    justify-content: space-around;/* main axis */
    align-items: center; /* cross axis */
    padding: 0;
}
nav ul li {
    list-style-type: none;
    display: flex;
}
nav ul li a {
    text-decoration: none;
    color: #ffdd59;
    font-weight: bold;
    font-family: "Courier";
    text-transform: capitalize;
    letter-spacing: 3px;
    font-size: 16px;
    line-height: 50px;
}
nav ul li a:hover {
    background: rgba(0, 0, 0, .6);
    transition: .3s;
}