<!DOCTYPE html>
<html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Layout 1</title>
      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
        <header>
            <section class="top logo">
                <h1 class="name">Top Header Illustartion with Site Name</h1>
            </section>
        </header>
        <nav>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </nav>
        <section class="main">
            <section class="blog">
                <section class="latest l1">
                    <p>The latest blogpost 1</p>
                </section>
                <section class="latest l2">
                    <p>The latest blogpost 2</p>
                </section>
                <section class="latest l3">
                    <p>The latest blogpost 3</p>
                </section>
            </section>
            <section class="side">
                <section class="pan panel1">
                    <p>side 1</p>
                </section>
                <section class="pan panel2">
                    <p>side 2</p>
                </section>
                <section class="pan panel3">
                    <p>side 3</p>
                </section>
                <section class="beside">
                    <section class="panel4 bes">
                        <p>beside</p>
                    </section>
                    <section class="panel5 bes">
                        <p>side 5</p>
                    </section>
                </section>
                <section class="panel6">
                    <p>side 6</p>
                </section>
            </section>
        </section>
        <footer>
            <p>copyright</p>
        </footer>
    </body>
</html>