@charset "utf-8";
body {
    margin: 0;
    background: #908e9b;
    
}
.pro {
    border-bottom: 1px solid black;
}
.head {
        background: linear-gradient(to bottom, hsla(0,0%,0%,1) 0%,hsla(0,0%,27%,1) 50%,hsla(0,0%,0%,1) 100%);
}
ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
    
}
a {
    font-size: 1.33em;
    line-height: 45px;
    color: yellow;
    text-decoration: none;
    display: block;
}
.pro:hover {
    background: linear-gradient(to bottom, hsla(0,0%,27%,1) 0%,hsla(0,0%,0%,1) 50%,hsla(0,0%,27%,1) 100%);
}
.sub a:hover {
    text-decoration: underline;
    background-color: #333333;
}
nav li li {
    font-size: 0.7em;
}
li {
    width: 200px;
    border-bottom: none;
    font-size: 1em;
    display: inline-block;
}
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
li:hover .projects{
    display: block;
}
.pro:hover .ett-steg-i-taget {
    display: block;
}

.pro:hover .webbkoda {
    display: block;
}
.pro:hover .layouts {
    display: block;
}
