@charset "utf-8";
header {
    display: flex;
    margin-left: 1.3%;
    background-image: url(../bilder/Untitled2.jpg);
    height: 444px;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}
body {
    margin: 0;
}

.search {
}

nav {
    height: 100%;
    width: 14%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    
}
.main .left {
    display: flex;
}
.main .mid {
    margin-left: 13%;
}
nav a, .logo {
    display: flex;
    justify-content: center;
    padding: 7%;
    color: ghostwhite;
}
.logo {
    width: 86%;
}
a:hover {
    background-color: dimgray;;
}
.news {
    display: flex;
    flex-direction: column;
    margin: 1%
}
figure {
    padding-top: 1%;
    padding-left: 2%;
    position: relative;
}
figcaption {
    margin-top: -12%;
    margin-left: 2.2%;
    position: absolute;
    height: 100%;
    width: 100%;
}
iframe {
    min-width: 50%;
    max-height: 100%;
    
}
/*.video {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    height: 360px;*/
/*}*/
/*.wallpaper {
    background-image: url("https://travel.defqon1.com/images/eventmedia/42/img/defqon.1-banner-travel.png");
    max-width: 100%;*/
    
    
}
.main {
    display: flex;
}
.button {
    background-color: indianred;
    height: 29%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.button:hover {
    border: 1px solid black;
    
}
figcaption p {
    margin-top: 7%;
}
