@charset "utf-8";
header {
    display: flex;
    background-image: url(../bilder/defqon.jpg);
    height: 380px;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
}
body {
    margin: 0;
}

.search {
}

nav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    
}
.main {
    
}
.main .mid {
    margin-left: 13%;
    display: flex;
}
nav a, .logo {
    display: flex;
    justify-content: center;
    padding: 7%;
    color: ghostwhite;
}
.logo {
    width: 86%;
}
a:hover {
    background-color: dimgray;;
}
.news {
    display: flex;
    flex-direction: column;
    margin: 1%;
    
}
figure {
    padding-left: 2%;
    position: relative;
    background-image: url(https://via.placeholder.com/700x140);
    height: 140px;
    background-size: contain;
    width: 60%;
    background-repeat: no-repeat;
}
figcaption {
    display: flex;
    position: absolute;
    width: 100%
}
    

}
.main {
    display: flex;
    width: 100%;
}
.button {
    background-color: indianred;
    height: 29%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 3%;
}
.button:hover {
    border: 1px solid black;
    
}
figcaption p {
    margin-top: 13%;
}
