@charset "utf-8";
body {
    margin: 0;
    background: #908e9b;
}
ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
a {
    font-size: 1.33em;
    line-height: 45px;
    color: yellow;
    text-decoration: none;
    display: block;
}
a:hover {
    background-image: radial-gradient(black, #444);
}
nav li li {
    font-size: 0.6em;
}
li {
    width: 300px;
    border-bottom: none;
    line-height: 55px;
    font-size: 1.33em;
    display: inline-block;
}
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
li:hover .projects{
    display: block;
}
.pro:hover .ett-steg-i-taget {
    display: block;
}

.pro:hover .webbkoda {
    display: block;
}
.pro:hover .layouts {
    display: block;
}
