<!DOCTYPE html>
<html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Layout 3</title>
      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <header class="headd">
        <section class="logo"><a>log</a></section>
    </header>
        <nav class="headd">
            <a href="#">meny</a>
            <a href="#">om</a>
            <a href="#">login</a>
            <a href="#">signup</a>
        </nav>
    <body>
        <section class="img-scroller">
        <h2>Image Scroller</h2><p>....................................</p><p>....................................</p>
        </section>
        <section class="product-gallery">
           <section class="first prod">
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
            </section>
            <section class="second prod">
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
               <figure><img src="https://via.placeholder.com/200x200" alt=""><figcaption><h3>..........</h3><p>......................</p><p>......................</p></figcaption></figure>
            </section>
        </section>
    <footer>
       <section class="foot">
        <ul class="foots">
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul class="foots">
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul class="foots">
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul class="foots">
            <p>-----</p>
            <ul class="sist">
                <li><img src="https://via.placeholder.com/40x40" alt=""></li>
                <li><img src="https://via.placeholder.com/40x40" alt=""></li>
                <li><img src="https://via.placeholder.com/40x40" alt=""></li>
            </ul>
        </ul>
        </section>
    </footer>
    </body>
</html>