<!DOCTYPE html>
<html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Layout 3</title>
      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <header class="headd">
        <section class="logo"><a>log</a></section>
    </header>
        <nav class="headd">
            <a href="#">meny</a>
            <a href="#">om</a>
            <a href="#">login</a>
            <a href="#">signup</a>
        </nav>
    <body>
        <section class="img-scroller">Scroller</section>
        <section class="product-gallery">
           <section class="1st prod">
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
            </section>
            <section class="2nd prod">
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
                <figure><img src="" alt=""><figcaption><h3>...</h3>............</figcaption></figure>
            </section>
        </section>
    </body>
    <footer>
        <ul>
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul>
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul>
            <p>-----</p>
            <li>...</li>
            <li>...</li>
            <li>...</li>
        </ul>
        <ul>
            <p>-----</p>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </ul>
    </footer>
</html>