<!DOCTYPE html>
<html lang="sv-se">
    <head>
      <meta charset="utf-8">
      <title>Layout 2</title>
      <link rel="stylesheet" href="assets/css/main.css">
    </head>
    <body>
       <section class="big-grid">
            <section class="grid-item header log">
                <p>Login</p>
            </section>
            <section class="grid-item header ad">
                <p>Future Banner Ad Placement</p>
            </section>
        <nav class="grid-item">
            <li>Menu Navigation</li>
        </nav>
          <section class="small-grid">
               <section class="abc a">
                    <section class="s-grid-item a1"><p>Deal of the week</p></section>
                    <section class="s-grid-item a2"><p>Highlighted Partners</p></section>
                    <section class="s-grid-item a3"><p>Highlighted Categorized Deals</p></section>
                </section>
                <section class="abc b">
                    <section class="s-grid-item b1"><p>Membership sign up</p></section>
                    <section class="s-grid-item b2"><p>Pet insurance</p></section>
                </section>
                <section class="abc c">
                    <section class="s-grid-item c1"><p>Description</p></section>
                    <section class="s-grid-item c2"><p>Last 5 Blog post</p></section>
                    <section class="s-grid-item c3"><p>Highlighted Discussion Forum Posts</p></section>
                </section>
            </section>
        <footer class="grid-item">
            <p>Footer</p>
        </footer>
        </section>
    </body>
</html>