@charset "utf-8";
.top {
    padding-top: 10px;
    display: flex;
    margin-left: 63%;
    justify-content: space-between;
    padding-right: 3%;
}
header {
    display: flex;
    justify-content: space-between;
    
}
header section {
    border: 4px solid black;
    width: 23%;
    height: 130px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.name {
    width: 50%;
}
nav {
    display: flex;
    justify-content: space-around;
    border: 3px solid black;
    margin-top: 8px;
    height: 30px;
}