@charset "utf-8";
body {
    margin: 0;
    background: #908e9b;
}
ul {
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}
a {
    font-size: 1.33em;
    line-height: 43px;
    color: yellow;
    text-decoration: none;
    display: block;
}
a:hover {
    background-image: radial-gradient(black, #444);
}
nav li li {
    font-size: .8em;
}
li {
    width: 150px;
    align-content: center;
    border-bottom: none;
    line-height: 55px;
    font-size: 1.3em;
    display: inline-block;
}
nav li ul {
    position: absolute;
    display: none;
    width: inherit;
}
li:hover .produkter {
    display: block;
}
.pro:hover .procsessorer {
    display: block;
}
.prod {
    font-size: .7em;
}
